@font-face {
    font-family: 'Montserrat';
    src: url(./../font/Montserrat-Bold.woff2) format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat';
    src: url(./../font/Montserrat-Light.woff2) format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Montserrat';
    src: url(./../font/Montserrat-Medium.woff2) format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url(./../font/Montserrat-SemiBold.woff2) format('woff2');
    font-weight: 600;
}